@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Download)]

<table class="table">
    <thead>
        <tr>
            <th>Bot</th>
            <th>Status</th>
            <th>%</th>
            <th>File</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var download in IrcService.Downloads)
        {
            <tr>
                <td>@download.Bot</td>
                <td>@download.Status</td>
                <td>@download.Progress %</td>
                <td>@download.Message?.FileName</td>
                <td>@download.Message?.Size</td>
            </tr>
        }
    </tbody>
</table>