@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Download)]


@foreach (var downloader in IrcService.Downloaders)
{
    <table class="table">
    <thead>
        <tr>
            <th colspan="20">@downloader.Server.Name @(downloader.Connected?"Connected":"Disconnected")</th>
        </tr>
        <tr>
            <th>Bot</th>
            <th>Pack</th>
            <th>Progress</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var download in downloader.Downloads)
            {
                <tr>
                    <td>@download.Bot</td>
                    <td>@download.Pack</td>
                    <td>@download.Progress.ToString("0.00") %</td>
                    <td>@download.Status</td>
                </tr>
            }
        </tbody>
    </table>

    <ul>
    @foreach (var message in downloader.Messages)
        {
            <li>@message.Sender @message.Sender: @message.Message</li>
        }
    </ul>
}