@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Download)]

<table class="table">
    <thead>
        <tr>
            <th>Bot</th>
            <th>Status</th>
            <th>%</th>
            <th>File</th>
            <th>Size</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var download in IrcService.Downloads)
        {
            <tr>
                <td>@download.Bot</td>
                <td @onclick=@(()=>OpenLog(download))>@download.Status</td>
                <td>@download.Progress %</td>
                <td>@download.Message?.FileName</td>
                <td>@download.Message?.Size</td>
                <td>@if (download.Status == IrcDownloadStatus.Downloading)
                    {
                        <button @onclick=@(()=>download.Stop())>Stop</button>
                    }
                </td>
                <td><button @onclick=@(()=>RemoveDownload(download))>Remove</button></td>
            </tr>
        }
    </tbody>
</table>

<h6>Active downloads</h6>
<ul>
    @foreach (var conn in IrcService.Connections)
    {
        <li>@conn.Server.Name - @conn.ActiveDownloads</li>
    }
</ul>

<Modal @ref=_logModal Title=Logs Scrollable>
    <ul class="list-group list-group-flush">
        @foreach (var item in _log)
        {
            <li class="list-group-item">@item</li>
        }
    </ul>
</Modal>