@page "/"
@implements IDisposable

<PageTitle>Index</PageTitle>

<h1>Total usage @((GC.GetTotalMemory(false) /1024m/1024m).ToString("#,##0.00 MB"))</h1>

<table class="table">
    <thead>
        <tr>
            <th>Channel</th>
            <th>Running</th>
            <th>Announcements</th>
            <th>Messages</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var indexer in IrcService.Connections)
        {
            <tr>
                <td>@indexer.Server.Name</td>
                <td>@indexer.Running</td>
                <td>@indexer.Lines.Count.ToString("#,##0")</td>
                <td>@indexer.Messages.Count.ToString("#,##0")</td>
            </tr>
        }
        <tr>
            <td colspan="2">Count</td>
            <td>@IrcService.Connections.Sum(i=>i.Lines.Count).ToString("#,##0")</td>
        </tr>
    </tbody>
</table>

<button @onclick=StateHasChanged>Refresh</button>
<button @onclick=IrcService.StopAll>Stop</button>
<button @onclick=IrcService.CleanAllAsync>Clean</button>
<button @onclick=IrcService.StartAll>Start</button>
<button @onclick=IrcService.SaveAllAsync>Save</button>

@code {
    PeriodicTimer periodicTimer = new(TimeSpan.FromSeconds(5));
    protected override void OnInitialized()
    {
        RunTimer();
    }

    async void RunTimer()
    {
        while (await periodicTimer.WaitForNextTickAsync())
            StateHasChanged();
    }

    public void Dispose()
    {
        periodicTimer?.Dispose();
    }
}
